/*body {background-image: url("/partials/public/img/sunset.jpg")};*/

body img {width: 100%;}

h1 {color: white;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    background-image: url("/public/img/kurumi.webp")}

form {
    background-color: black;
    color: azure;
    text-align: center;
    font-size: xx-large;}

div .navy   {
    background-color: black;
    text-decoration: none;
    color: aliceblue;
}

.navy li a , i { 
    text-decoration: none;
}